# KiCad Temporary Files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*.kicad_sym-bak
*.kicad_sym
*.kicad_sym-bak

# KiCad Netlist Files
*.net

# KiCad Debug Files
*.log

# Backup Files
*-backups/
\#auto_saved_files\#

# Claude Prompt File
MHT1803_Amplifier_500W.ClaudePrompt.txt 